@using EShopMVC_Net7.Areas.Admin.ViewModels.Product
@model IEnumerable<EShopMVC_Net7.Areas.Admin.ViewModels.Product.ProductListItemVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Trang Tạo Sản Phẩm</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên Sản Phẩm</th>
            <th>Hình ảnh</th>
            <th>Tồn kho</th>
            <th>Giá</th>
            <th>Lượt xem</th>
            <th>Danh Mục</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <img src="@item.CoverImg" style="width: 50px; height: 50px; object-fit: cover"
                         class="rounded rounded-circle shadow" />
                </td>
                <td>@item.InStock</td>
                <td>
                    @{
                        var isDiscount = false;
                        if (item.DiscountPrice.HasValue)
                        {
                            //Đoạn code thực hiện GIẢM GIÁ sản phẩm
                            var starDate = item.DiscountFrom ?? DateTime.MinValue;
                            var endDate = item.DiscountTo ?? DateTime.MaxValue;
                            isDiscount = starDate <= DateTime.Now && endDate >= DateTime.Now;

                        }
                    }
                    @if (isDiscount)
                    {
                        <s>@item.Price?.ToString("#,# VND")</s>
                        <span class="d-block">@item.DiscountPrice?.ToString("#,# VND")</span>

                    }
                    else
                    {
                        <span>@item.Price?.ToString("#,# VND")</span>
                    }


                </td>


                <td>@item.View</td>
                <td>@item.CategoryName</td>

                <td>

                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-primary"
                       >Sửa</a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"
                       onclick="return confirm('Xác nhận xóa...?')">Xóa</a>


                </td>


            </tr>
        }
    </tbody>
</table>
<partial name="_Pager" model="Model" />
